:root {
  --main-background: radial-gradient(blue, red);
  --main-backdrop: white;
}


html {
  background: var(--main-background);
  min-height: 100vh;
  font-family: 'helvetica neue';
}


h1 {
  color: black;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: var(--main-backdrop);
  border-radius: 5px;
}

#heading {
  background-color: var(--main-backdrop);
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey !important;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: midnightblue;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: black;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  margin-top: 15px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background: green;
  color: #fff;
  font-size: 30px;
  border: 2px solid black !important;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 rgb(6, 9, 173);
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

@media only screen and (min-device-width: 365px) and (max-device-width: 380px) {
  button {
    min-height: 25px;
    width: 25px;
    border-radius: 50%;
    border-color: transparent;
    background: green;
    color: #fff;
    font-size: 20px;
    border: 1px solid black !important;
}

  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 200;
  }
}