:root {
  --main-background: linear-gradient(to left, #033349, #8f532f);
  --main-backdrop: white;
  --main-header-background: #fe8138;
}


html {
  background: var(--main-background)no-repeat;
  min-height: 100vh;
  font-family: 'helvetica neue';
}


h1 {
  color: black;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: var(--main-backdrop);
  border-radius: 5px;
}

#heading {
  background-color: var(--main-header-background);
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #033349 !important;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #e6250a;
}

input[type="checkbox"] {
  margin: 20px;

}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: black;
}

form {
  background-color: var(--main-header-background);
  max-width: 400px;
  min-width: 360px;
}

form.item {
  text-align: center;
  margin-left: 10px;

}

button {
  border-radius: 25%;
  border-color: transparent;
  color: #e6250a;
  background-color:#033349;
  font-size: 25px;
  border: 1px solid black !important;

}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 300px;

}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px #033349;

}

::placeholder {
  color: #e6250a;
  opacity: 1;
}

footer {
  color: #fe8138;
  text-align: center;
}

@media only screen and (max-width: 425px) {
  button {
    border-radius: 25%;
    border-color: transparent;
    color: #e6250a;
    background-color:#033349;
    font-size: 25px;
    border: 1px solid black !important;
  
  }
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px !important;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 275px !important;
  
}